@model List<MilkyProject.WebUI.Dtos.ServiceDtos.ResultServiceDto>
@{
    ViewData["Title"] = "AdminServiceList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Neden Biz?</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resim</th>
                       @*      <th>Ana Başlık</th> *@
                            <th>Başlık</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ServiceId</td>
                                <td> <img class="img-fluid" src="@item.SmallImageUrl" alt=""></td>
                             @*    <td>@item.Header</td> *@
                                <td>@item.Title</td>
                                <td>@item.Description.Substring(0, 30)</td>
                                <td><a href="~/Admin/AdminService/AdminServiceUpdate/@item.ServiceId" class="btn btn-info">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

